/*
 * CSS for render output of class DocReStructuredText
 *
 * @deprecated  Use document-view.css
 * @package		fwolflib
 * @subpackage	css
 * @copyright	Copyright © 2010, Fwolf
 * @author		Fwolf <fwolf.aide+fwolflib.css@gmail.com>
 * @since		2010-11-06
 */

/* Make eye confortable */
body {
	background-color: rgb(204, 232, 207);
}


/* Show source code */
.show_source {
	cursor: pointer;
	text-decoration: underline;
}
pre {
	background-color: #CCCCCC;
	padding: 1em;
}


/* Footer icon and copyright text. */
div#footer img, div#footer span.spacer {
	float: left;
	margin-top: 0.2em;
}
div#footer span#copyright {
	float: right;
	margin-right: 0%;
}
hr {
	background-color: #B0C4DE;
	border: 0px;
	color: #B0C4DE;
	height: 1px;
} /* LightSteelBlue = #B0C4DE */


/* Single line table, printable */
table.single-line, table.single-line td, table.single-line th {
	border: 1px solid black;
	border-collapse: collapse;
}
/*
	Note:
		I want to underscore in name, eg: single_line,
		but rst auto-convert them to single-line
		when using directive ``..	class:: single-line`` .
*/
