<?xml version='1.0' encoding='UTF-8'?>

<phpunit
  backupGlobals='false'
  backupStaticAttributes='false'
  bootstrap='autoload.php'
  colors='true'
  convertErrorsToExceptions='true'
  convertNoticesToExceptions='true'
  convertWarningsToExceptions='true'
  forceCoversAnnotation='false'
  mapTestClassNameToCoveredClassName='false'
  processIsolation='false'
  stopOnError='false'
  stopOnFailure='false'
  stopOnIncomplete='false'
  stopOnSkipped='false'
  strict='true'
  verbose='false'
>

  <testsuites>
    <testsuite name='Fwlib Test Suite'>
      <directory
        phpVersion='5.3.0'
        phpVersionOperator='>='
      >./FwlibTest/</directory>
      <exclude>./FwlibTest/Base/ClassLoaderTest.php</exclude>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>benchmark</group>
    </exclude>
  </groups>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist='true'>
      <directory>./Fwlib/</directory>
      <exclude>
        <!-- Implement of PSR-0 is already test of ClassLoader -->
        <file>./Fwlib/Base/ClassLoader.php</file>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <ini name='memory_limit' value='300m' />
  </php>

</phpunit>
